@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Nunito:wght@400;600;800&display=swap");

:root {
  --black: #171123;
  --white: #FCFEFF;
}

/* fonts */

html,
body {
  font-family: "Nunito", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

h1,
h2 {
  font-weight: 800;
}

h1 {
  font-size: 70px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 30px;
}

.inter {
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

.inter-semi {
  font-family: "Inter", sans-serif;
  font-weight: 600;
}

.inter-bold {
  font-family: "Inter", sans-serif;
  font-weight: 800;
}

.nunito {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
}

/* *** scrollbar *** */

:root {
  --scroll-thumb: #053267;
  --scroll-bg: #c7e0ff;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--scroll-bg);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scroll-thumb);
  border-radius: 10px;
}

/* Mozilla */
html,
body {
  /* width* */
  scrollbar-width: thin;
  /* track and handle */
  scrollbar-color: var(--scroll-thumb) var(--scroll-bg);
}
